.App{
    background-color: #35301D;
}

.App-header {
  background-color: #DEBA6F;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 5vh;
}

.App-link {
  color: #61dafb;
}

.App-header h1{
    color: #04314E;
}

.metricList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 90vh;
}

.metricCategoryContainer{
    background-color: #ECE3D5;
    padding-left: 1em !important;
}

.metricCategoryContainer:nth-child(3n){
    background-color: #FFF;
}
.metricCategoryContainer:nth-child(3n-1){
    background-color: #FFF;
}

.metricCategoryContainer h2 {
    color: #04314E;
    font-size: 0.9em;
    text-transform: uppercase;
}

.numberContainer {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0;
    background-color: #04314E;
    color: #FFF;
    text-align: center;
    border-radius: 1em;
    height: auto;
    position: relative;
}

.numberAndUnit{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.number{
    font-size: 4em;
    line-height: 0.8em;
}

.starsParentContainer.row{
    width: 100%;
    padding-left: 1em;
}

ul.stars{
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1em;
}
li.star{
    display: inline-block;
    margin-left: 0;
    margin-right: 2px;
}