$backgroundColor: #DEBA6F;
$boxColor1: #ECE3D5;
$boxColor2: #FFFFFF;
$darkColor: #04314E;
$lightTextColor: #FFFFFF;
$successColor: #00FFFF;

.App{
    background-color: $backgroundColor;
}

.App-header {
  background-color: $backgroundColor !important;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 5vh;
}

.App-link {
  color: #61dafb;
}

.App-header h1{
    color: #04314E;
}

.metricList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 90vh;
}

.metricCategoryContainer{
    background-color: $boxColor1;
}

.metricCategoryContainer:nth-child(3n){
    background-color: $boxColor2;
}
.metricCategoryContainer:nth-child(3n-1){
    background-color: $boxColor2;
}

.metricCategoryContainer h2 {
    color: $darkColor;
    font-size: 0.9em;
    text-transform: uppercase;
}

.metricContent.row{
    margin-left: 0px;
    margin-right: 0px;
}

.metric{
    padding-left: 1em;
    padding-right: 1em;
}

.question {
    font-size: 1.2em;
    color: $darkColor;
}

.description {
    font-size: 0.8em;
}

.numberContainer {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0;
    background-color: $darkColor;
    color: $lightTextColor;
    text-align: center;
    border-radius: 1em;
    height: auto;
}
.numberContainer.maxmet {
    background-color: $successColor;
}

.numberAndUnit{
  margin: 0;
  padding: 0;
}

.number{
    font-size: 4em;
    line-height: 0.8em;
}

.metricVizContainer{
    padding-left: 1em;
}

.starsParentContainer.row{
    width: 100%;
    padding-left: 1em;
}

ul.stars, ul.actionButtons {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1em;
}
li.star, li.actionButtonItem{
    display: inline-block;
    margin-left: 0;
    margin-right: 2px;
}
actionButton {
    display: inline-block;
}